* text=auto eol=lf

*.cs text diff=csharp
*.csproj text merge=union
*.sln text merge=union
*.props text merge=union
*.targets text merge=union

*.json text
*.yaml text
*.yml text
*.xml text
*.md text
*.css text
*.js text
*.ts text
*.html text
*.razor text
*.cshtml text
*.ps1 text
*.sh text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.svg binary

*.dll binary
*.exe binary
*.pdb binary
*.nupkg binary
*.snupkg binary

*.suo binary
*.userprefs binary
*.DS_Store binary
*.dotcover binary
